
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(developer.png), url(header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right
}

nav{
    width: 60%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex  ;
    justify-content: space-between;
  
}
div h1 span{ color: #FD6E0A;

}
div h1{
    font-size: 45px;
    font-weight: 900;
}
 .mim{
    display: flex;
    /* font-size: 45px; */
    gap: 51px;
    align-items: center;
    list-style:  none;
    color: #474747;
 }
nav li a{
    text-decoration: none;
    font-size: 20px;
}
li button{
    /* width: 150px;
    height: 65px; */
    font-size: 20px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: #ffffff;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
    
}
#banner{
    /* border: 1px solid #140f0c; */
    margin: 45px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner1 h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;

}
.banner1 h1{
    font-weight: bold   ;
    font-size: 85PX;
    
}

    .banner1 P{
        color: #757575;
        font-size: 18PX;
        margin-top: 20PX;
        margin-bottom: 30PX
        ;
    }
    .banner1{
        max-width: 600PX;
        
    }
    #button1  {
        font-size: 20px ;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: #ffffff;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
    
    }
    #button1{
        margin-right: 30px;
    }
    #button2{
         font-size: 20px;
    border-radius: 5px;
    /* background-color: #FD6E0A; */
    border: 1px solid #3a3434;
    color: #000000;
    background-color:  #ffffff;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
    
    }

 #image img{
  vertical-align: middle;
}
    