
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 60%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex  ;
    justify-content: space-between;
  
}
div h1 span{ color: #FD6E0A;

}
div h1{
    font-size: 45px;
    font-weight: 900;
}
 .mim{
    display: flex;
    /* font-size: 45px; */
    gap: 51px;
    align-items: center;
    list-style:  none;
    color: #474747;
 }
nav li a{
    text-decoration: none;
    font-size: 20px;
}
li button{
    /* width: 150px;
    height: 65px; */
    font-size: 20px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: #ffffff;
    padding: 18px 35px;
    font-weight: bold;
    
}