
*{
    margin: 0 auto;
    padding: 0;

}
body{
    background-color: rgb(255, 255, 255);
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(developer.png), url(header_bg.png);
    background-repeat: no-repeat;
    background-position: 24px 39px, bottom right
}

nav{
    width: 60%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex  ;
    justify-content: space-between;
  
}
div h1 span{ color: #FD6E0A;

}
div h1{
    font-size: 45px;
    font-weight: 900;
}
 .mim{
    display: flex;
    /* font-size: 45px; */
    gap: 51px;
    align-items: center;
    list-style:  none;
    color: #474747;
 }
nav li a{
    text-decoration: none;
    font-size: 20px;
}
li button , #btn , .btt{
    /* width: 150px;
    height: 65px; */
    font-size: 20px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: #ffffff;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
    
}
#banner{
    /* border: 1px solid #140f0c; */
    margin: 45px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner1 h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;

}
.banner1 h1{
    font-weight: bold   ;
    font-size: 85PX;
    
}

    .banner1 P{
        color: #757575;
        font-size: 18PX;
        margin-top: 20PX;
        margin-bottom: 30PX
        ;
    }
    .banner1{
        max-width: 600PX;
        
    }
    #button1  {
        font-size: 20px ;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: #ffffff;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
    
    }
    #button1{
        margin-right: 30px;
    }
    #button2{
         font-size: 20px;
    border-radius: 5px;
    /* background-color: #FD6E0A; */
    border: 1px solid #3a3434;
    color: #000000;
    background-color:  #ffffff;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
    
    }
    .about2 , .skills-heading{
        width: 827px;
        text-align: center;
        margin: 0 auto;
    }
    .about2 h2, .skills-heading h2 , {
        font-size: 30px;
        padding-bottom: 30px;
    }
    .about2 p , .skills-heading p {
        font-size: 18px;
        color: #757575;
        padding-bottom: 30px;
        line-height: 30px;
    }

 #image img{
  vertical-align: middle;
}
.about {
    padding-top: 116px ;
}
.about .about1 {
    width: 71%  ;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.about1 {
    
}
.about .about1 .aboutinfo{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.about .aboutinfo p{
    font-size: 20px;
        color: #757575;
        
        line-height: 30px;
}
.about .aboutinfo h3 {
    font-size: 20px;
}
.skills {
    padding-top: 130px;
    /* margin-bottom: 150px; */
    
}
.skills-container{
    width: 71%;
    max-width: 1140px;
    /* background-color: #FD6E0A; */
    margin: 0 auto;

}
.skills-box{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.box {
    max-width: 267px;
    /* border: 1px solid; */
    padding: 30px;
    box-shadow: 0 6px 50px #00000018;

}
.box h3 {
    font-size: 20px;
    margin-bottom: 20px;

}
.box p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.box img {
    max-width: 40px;
    margin-bottom: 30px;
}
.resume {
    margin-top: 130px;
}
.h1 {
    text-align: center;
    font-size: 35px;
}
.resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 130px auto 0;
    display:flex ;
    gap: 24px;
}

.resume .resume-container h2 {
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume .resume-container ..experience, .education {
    max-width: 511px ;
    margin-right: 47px;
}
 .passion {
    font-size: 20px;
    margin-bottom: 10px;
    color: #757575;
    font-weight: 600px;
}
 .experience h3, .education h3  {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    font-weight: bold;
    
 }
 .resume-container .text {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    
 }
.resume-container hr {
    margin: 30px 0;
}
.btn {
    text-align: center;
    margin-top: 50px;
}
footer {
    margin-top: 113px;
    background-color: #FFF8F3;
}
.footer {
    display: flex;
    width: 71%;
    max-width: 1140px;
    gap: 117px;
    padding: 130px 0;
    margin: 0 auto;
}
.footer .social {
    max-width: 562px;
}
.footer h2 {
    font-size: 35px;
    color: #181818;
}
.footer .social p{
 color: #474747;
 font-size: 16px;
 margin: 20px 0 30px;
}
.icon a {
    margin-right: 24px;
}
.footer form input[type="text"],.footer form textarea  {
    width: 461px;
    padding: 18px  31px ;
    border: none;
    border-radius: 5px;

    color: #231164;
}
.footer form input , .footer form textarea {
    margin-bottom: 24px;
}
 .footer form textarea {
    padding: 18px 0 0 30px;
 }
 .footer form h2 { margin-bottom: 28px;

 }